body {
   background-color: white;
   color:black;
   padding: 100px;

      }
.black {
   background-color: black;
   position: relative;
   height: auto;
   display: flex;
   align-items: center;

}

.text {

  background-color: white;
  position: relative;
  height: 150px;
  top:-80px;
  font-size: 30px;
  width: 200px;
  color: blue;
  padding: 15px 55px;
  box-shadow: 1px;
}

.blue {

  background-color: blue;
  color: white;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 150px 55px !important;
}